@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --white: #fff;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
  --black: #2c2c54;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #1c8548;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }

  .container-md {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #b3e5b3;
  overflow: hidden;
}

.nav {
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27ae60;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c8548;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .cart-icon {
    display: block;
    font-size: 3rem;
  }

  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  .nav.fix-nav .nav-link {
    color: #1c8548;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-link.icon {
    display: none;
  }
}

/* Hero */
.header .hero-img {
  position: absolute;
  bottom: -4%;
  right: 0%;
  height: 60rem;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content h1 {
  color: #666;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: #2c2c54;
  font-size: 5rem;
  font-weight: 700;
  display: block;
  line-height: 1;
}

.btn {
  display: inline-block;
  background-color: #27ae60;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 3rem;
}

@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -5%;
    bottom: 0%;
    height: 40rem;
  }

  .hero-content {
    transform: translate(20%, -50%);
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header .hero-img {
    height: 40rem;
    right: -8%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    height: 40rem;
    bottom: 0%;
  }

  .hero-content {
    top: 30%;
    transform: translate(15%, -50%);
  }

  .header .hero-img {
    right: 0%;
  }

  .hero-content h2 {
    font-size: 1.8rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }

  .hero-content a {
    padding: 1rem 3rem;
  }
}

.banner-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 90%;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: #333;
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

/* Featured Products */

.title {
  margin: 10rem 0 7rem 0;
  text-align: center;
}

.cart-title {
  margin: 3rem 0 7rem 0;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: var(--pink);
  width: 80%;
  height: 0.4rem;
  z-index: 1;
}
/* Category Box */

.category .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  width: 80%;
  margin: auto;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: 0.5rem 0;
}

.category .box-container .box h3 {
  font-size: 3.5rem;
  color: var(--black);
}

.category .box-container .box p {
  font-size: 2rem;
  color: #666;
  padding: 0.5rem 0;
}

.category .box-container .box .btn {
  display: block;
}

/* Product Box */
.product .box-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img {
  height: 20rem;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 0.7rem 1rem;
  font-size: 2rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: 0.5rem;
  right: -6rem;
}

.product .box-container .box:hover .icons {
  right: 1rem;
}

.product .box-container .box .icons a {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 0.7rem;
}

.product .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  text-transform: capitalize;
}

.product .box-container .box .stars i {
  padding: 1rem 0.1rem;
  font-size: 1.7rem;
  color: gold;
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.product .box-container .box .price span {
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

.product .box-container .box .quantity span {
  padding: 0 0.7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

.product .box-container .box .btn {
  display: block;
}

/* Testimonials */
.testimonial-center {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.testimonial {
  position: relative;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
  text-align: center;
  border-radius: 0.5rem;
}

.testimonial:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}

.testimonial span {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 12rem;
  font-family: sans-serif;
  color: #ff7c9c;
  line-height: 1;
  transform: translate(-50%, 0);
}

.testimonial p {
  margin: 2rem 0 1rem 0;
}

.testimonial .rating {
  margin-bottom: 1rem;
}

.testimonial .img-cover {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial .img-cover img {
  height: 100%;
  object-fit: cover;
}

.testimonial h4 {
  margin-top: 1rem;
}

/* Brands */
.brands-center {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

.brand {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
}

.brand img {
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .brands-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ========= Footer ======== */
.footer {
  margin-top: 100px;
  background-color: #1c8548;
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: #f1f1f1;
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--black);
}

.footer-center div {
  color: #f1f1f1;
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

/* All Products */
.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.all-products .top select {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

form {
  position: relative;
  z-index: 1;
}

form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }
}

/* Pagination */
.pagination {
  padding: 3rem 0 5rem 0;
}

.pagination span {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid #1c8548;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.pagination span:hover {
  border: 1px solid #1c8548;
  background-color: #1c8548;
  color: #fff;
}

/* Product Details */
.product-de .box-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-de .box-container .box {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.product-de .box-container .box img {
  height: 20rem;
}

.product-de .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 0.7rem 1rem;
  font-size: 2rem;
}

.product-de .box-container .box .icons {
  position: absolute;
  top: 0.5rem;
  right: -6rem;
}

.product-de .box-container .box:hover .icons {
  right: 1rem;
}

.product-de .box-container .box .icons a {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 0.7rem;
}

.product-de .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product-de .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  text-transform: capitalize;
}

.product-de .box-container .box .stars i {
  padding: 1rem 0.1rem;
  font-size: 1.7rem;
  color: gold;
}

.product-de .box-container .box .price {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.product-de .box-container .box .price span {
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product-de .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

.product-de .box-container .box .quantity span {
  padding: 0 0.7rem;
  font-size: 1.7rem;
}

.product-de .box-container .box .quantity input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

.product-de .box-container .box .btn {
  display: block;
}

/* Detail */
.product-detail .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-detail .left {
  display: flex;
  flex-direction: column;
}

.product-detail .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
  padding: 3rem;
}

.product-detail .left .main img {
  object-fit: contain;
  height: 100%;
}

.product-detail .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-detail .thumbnail {
  width: 10rem;
  height: 10rem;
  background-color: #f6f2f1;
  text-align: center;
}

.product-detail .thumbnail img {
  height: 100%;
  object-fit: contain;
}

.product-detail .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.product-detail .right .price {
  font-size: 600;
  font-size: 2rem;
  color: #27ae60;
  margin-bottom: 2rem;
}

.product-detail .right div {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.product-detail .right select {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

.product-detail form {
  margin-bottom: 2rem;
}

.product-detail form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-detail .form {
  margin-bottom: 3rem;
}

.product-detail .form input {
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.product-detail .form .addCart {
  background: #27ae60;
  padding: 0.8rem 4rem;
  color: #fff;
  border-radius: 3rem;
}

.product-detail h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 996px) {
  .product-detail .left {
    width: 30rem;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }

  .product-detail .thumbnails {
    width: 30rem;
    gap: 0.5rem;
  }

  .product-detail .thumbnail {
    width: auto;
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .product-detail .details {
    grid-template-columns: 1fr;
  }

  .product-detail .right {
    margin-top: 10rem;
  }

  .product-detail .left {
    width: 100%;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }

  .product-detail .thumbnails {
    width: 100%;
    gap: 0.5rem;
  }
}

/* Cart Items */
.cart {
  overflow: hidden;
  min-height: 100px;
}

.cart-item {
  width: 80%;
  margin: 20px auto;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.itm-img {
  width: 15%;
  text-align: center;
  padding: 10px;
}

.itm-img img {
  height: 100px;
}

.itm-des {
  width: 25%;
  padding: 20px 0;
  padding-left: 20px;
}
.itm-des p {
  font-size: 30px;
  font-weight: 600;
}
.itm-des span {
  font-weight: 600;
}
.del {
  cursor: pointer;
}
.del:hover {
  text-decoration: underline;
}

.itm-qun {
  width: 45%;
  text-align: center;
  padding: 35px 0;
}

.itm-qun input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

.itm-price {
  width: 15%;
  text-align: right;
  padding: 35px 20px;
}
.itm-price span {
  font-weight: 600;
  font-size: 25px;
}

.table {
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  padding: 0.5rem;
  color: #fff;
  background-color: #27ae60;
  font-weight: normal;
}
.th1 {
  width: 40%;
  text-align: left;
  padding: 0 20px;
}
.th2 {
  width: 45%;
  text-align: center;
}
.th3 {
  width: 15%;
  text-align: right;
  padding: 0 20px;
}

.rtotal {
  width: 80%;
  margin: auto;
}

hr {
  border-top: 3px solid #27ae60;
}

.sub {
  text-align: right;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
}

.ta {
  text-align: right;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
}

.to {
  text-align: right;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
}
.lft {
  width: 25%;
  float: right;
}
.lola {
  border: none;
}

@media only screen and (max-width: 567px) {
  .cart-info p {
    display: none;
  }
}
